boto3==1.7.5
botocore==1.10.52
-e git+https://github.com/j1z0/python-lambda.git#egg=python_lambda
submit4dn==1.0.2
-e git+https://github.com/SooLee/Benchmark.git#egg=Benchmark
# Build tasks
invoke==0.18.1
# Syntax checking
flake8==2.4.1
dcicutils>=0.2.6
urllib3
