{
 "reference_S3_bucket": "maestro-resources",
 "output_S3_bucket": "tibanna-output",
 "s3_access_arn": "arn:aws:iam::643366669028:instance-profile/S3_access",
 "keyname": "duplexa.4dn",
 "worker_ami_id": "ami-7ff26968",
 "default_instance_type": "i2.xlarge",
 "default_ebs_size": 100,
 "default_ebs_type": "io1",
 "ebs_iops": 5000,
 "userdata_dir": "./userdata",
 "json_dir": "./json",
 "json_bucket": "4dn-aws-pipeline-run-json",
 "cwl_url": "https://raw.githubusercontent.com/hms-dbmi/4dn-dcic-workflow-codes/master/cwl/",
 "job_list_file": "./job_list"
}
